<?xml version="1.0" encoding="utf-8"?>
<packages>
	<!-- Utilities -->
	<package id="7zip" />
	<package id="chocolateygui" />
	<package id="choco-cleaner" />
	<package id="less" />
	<package id="poshgit" />
	<package id="ampfontviewer" />

	<!-- Development Tools - Languages, Compilers, etc. -->
	<package id="nvm" /><!-- this will manage node/npm installs -->
	<package id="jq" />
	<package id="python3" />
	<package id="yarn" />

	<!-- Development Tools - Editors, IDEs -->
	<package id="markdownpad2" />
	<package id="notepadplusplus" />
	<package id="vscode" />
	<package id="vscode-powershell" />
	<package id="vscode-icons" />
	<package id="vscode-eslint" />

	<!-- Development Tools - Source Control -->
	<package id="git" />
	<package id="git-fork" />
	<package id="git-lfs" />
	<package id="meld" />
	<package id="TortoiseGit" />

	<!-- Development Tools - Cloud Deployment -->
	<package id="docker-cli" />
	<package id="docker-compose" />
	<package id="docker-desktop" />
	<package id="postman" />

	<!-- Development Tools - Database Management -->
	<package id="dbeaver" />
	<package id="mongodb" />
	<package id="mongodb-compass" />
	<package id="pgadmin4" />
	<package id="postgresql" />
	<package id="mysql" />
	<package id="mysql.workbench" />
	<package id="SQLite" />
	<package id="sqlite-studio.portable" />
	<package id="sqlitebrowser" />

	<!-- Command Line Terminals -->
	<package id="Cmder" />

	<!-- Network/Internet -->
	<package id="curl" />
	<package id="Firefox" />
	<package id="Wget" />
	<package id="filezilla" />
	<package id="putty" />
	<package id="winscp.install" />

	<!-- Fonts -->
	<package id="anonymouspro" />
	<package id="archivo-narrow.font" />
	<package id="bitstreamverafonts" />
	<package id="cascadiacode" />
	<package id="cascadiacodeitalic" />
	<package id="cascadiamono" />
	<package id="cascadiamonoitalic" />
	<package id="croscorefonts-font" />
	<package id="crosextrafonts-caladea-font" />
	<package id="crosextrafonts-carlito-font" />
	<package id="dejavufonts" />
	<package id="fantasque-sans.font" />
	<package id="fira" />
	<package id="FiraCode" />
	<package id="go-fonts" />
	<package id="hackfont" />
	<package id="inconsolata" />
	<package id="inter" />
	<package id="jetbrainsmono" />
	<package id="lato" />
	<package id="liberationfonts" />
	<package id="libre-baskerville.font" />
	<package id="montserrat.font" />
	<package id="opensans" />
	<package id="oswald.font" />
	<package id="oxygenmono" />
	<package id="public-sans.font" />
	<package id="roboto.font" />
	<package id="SourceCodePro" />
	<package id="ubuntu.font" />
</packages>